<%- include('../partials/header.ejs'); %>
<div id="grad1">
    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h1 style="font-family:verdana; color:white">Bracket for Tournament</h1>
            <form class="form" method="post">
              <div style="font-family:verdana; color:white" class="form-group">
                <label for="PlayerOneTextField"><%= playerOne %></label>
                <input type="number" class="form-control" id="PlayerOneTextField"
                placeholder="score" name="scoreone"  required>
              </div>

              <div style="font-family:verdana; color:white" class="form-group">
                <label for="PlayerTwoTextField"><%= playerTwo %></label>
                <input type="number" class="form-control" id="PlayerTwoTextField"
                placeholder="score" name="scoretwo"  required>
              </div>
              
              
              
              <button type="submit"  class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/tournaments/<%= id %>" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>
</div>
<%- include('../partials/footer.ejs'); %>
