<%- include('../partials/header.ejs'); %>
<!-- partial:index.partial.html -->
<div id = "grad1" style="overflow: auto;">
<div class="container "style="margin-left:0.5rem;" >
  <h2 style="font-family:verdana; color:white"><%= tournaments.Name %></h2>
  <h4 style="font-family:verdana; color:white;text-align:center;"><%= tournaments.Description %></h4>
  <h5 style="font-family:verdana; color:white;text-align:center"><%= tournaments.Finished %> </h3>
  <div class="tournament-bracket tournament-bracket--rounded"> 
  <!-- ------------------------ -->
  <!-- SEMI FINAL -->
   <!-- ------------------------ -->
  <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
      <h3 class="tournament-bracket__round-title">Quarter finals</h3>
      <ul class="tournament-bracket__list">
      <li class="tournament-bracket__item">
          
          
          <div class=" tournament-bracket__match container2"  tabindex="0">
          
          
            <table class="tournament-bracket__table container2">
              
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
                
              </thead>  
              <tbody class="tournament-bracket__content">
                
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                
                  <td class="tournament-bracket__country">
                  
                    <span class="tournament-bracket__code" title="<%= tournaments.PlayerOne %>"><%= tournaments.PlayerOne %> </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                    
                    
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreOne %></span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team tournament-bracket__team--winner ">
                  <td class="tournament-bracket__country">
                    
                  
                
                    <span class="tournament-bracket__code"title="<%= tournaments.PlayerTwo %>"><%= tournaments.PlayerTwo %> </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-kz" aria-label="Flag"></span>
                    
                    
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreTwo %> </span>
                    
                    
                 
                  </td>

                  
                </tr>

                
              </tbody>

              
                 
              
            </table>
          
            <% if (tournaments.CompleteTournament != "TRUE" && tournaments.IsActive == "TRUE" ) { %> 
                  
                    <!-- ------------------------ -->
                    <!-- EDIT BUTTON HAS BEEN ADDED HERE -->
                    <!-- ------------------------ -->
                    <% if(displayName) { %>
                    <% if(userName === tournaments.UserName) { %>
                     <div style="color:white" class="text-center button"><a href="/tournaments/<%= tournaments._id %>/one/<%= tournaments.PlayerOne %>/<%= tournaments.PlayerTwo %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></>
          
                     <% } %>
                     
                    <% } %>
                  
                  <% } %>           
          </div>
        </li>

        <li class="tournament-bracket__item">
          
          
          <div class=" tournament-bracket__match container2"  tabindex="0">
          
          
            <table class="tournament-bracket__table container2">
              
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
                
              </thead>  
              <tbody class="tournament-bracket__content">
                
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                
                  <td class="tournament-bracket__country">
                  
                    <span class="tournament-bracket__code" title="<%= tournaments.PlayerThree %>"><%= tournaments.PlayerThree %> </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                    
                    
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreThree %></span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team tournament-bracket__team--winner ">
                  <td class="tournament-bracket__country">
                    
                  
                
                    <span class="tournament-bracket__code"title="<%= tournaments.PlayerFour %>"><%= tournaments.PlayerFour %> </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-kz" aria-label="Flag"></span>
                    
                    
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreFour %></span>
                    
                    
                 
                  </td>

                  
                </tr>

                
              </tbody>

              
                 
              
            </table>
            <% if (tournaments.CompleteTournament != "TRUE"&& tournaments.IsActive == "TRUE") { %> 
                  
                    <!-- ------------------------ -->
                    <!-- EDIT BUTTON HAS BEEN ADDED HERE -->
                    <!-- ------------------------ -->
                    <% if(displayName) { %>
                    <% if(userName === tournaments.UserName) { %>
                    <div style="color:white" class="text-center button"><a href="/tournaments/<%= tournaments._id %>/two/<%= tournaments.PlayerThree %>/<%= tournaments.PlayerFour %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></div>
                    
                    <% } %>
                    <% } %>
                  
                <% } %>
            
          
          </div>
        </li>

        <li class="tournament-bracket__item">
          
          
          <div class=" tournament-bracket__match container2"  tabindex="0">
          
          
            <table class="tournament-bracket__table container2">
              
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
                
              </thead>  
              <tbody class="tournament-bracket__content">
                
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                
                  <td class="tournament-bracket__country">
                  
                    <span class="tournament-bracket__code" title="<%= tournaments.PlayerFive %>"><%= tournaments.PlayerFive %> </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                    
                    
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreFive %></span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team tournament-bracket__team--winner ">
                  <td class="tournament-bracket__country">
                    
                  
                
                    <span class="tournament-bracket__code"title="<%= tournaments.PlayerSix %>"><%= tournaments.PlayerSix %> </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-kz" aria-label="Flag"></span>
                    
                    
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreSix %></span>
                    
                    
                 
                  </td>

                  
                </tr>

                
              </tbody>

              
                 
              
            </table>
            <% if (tournaments.CompleteTournament != "TRUE"&& tournaments.IsActive == "TRUE") { %> 
                  
                  
                    <!-- ------------------------ -->
                    <!-- EDIT BUTTON HAS BEEN ADDED HERE -->
                    <!-- ------------------------ -->
                    <% if(displayName) { %>
                    <% if(userName === tournaments.UserName) { %>
                    <div style="color:white" class="text-center button"><a href="/tournaments/<%= tournaments._id %>/three/<%= tournaments.PlayerFive %>/<%= tournaments.PlayerSix %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></div>
                    <% } %>
                    <% } %>
                  
                  <% } %>
           
          </div>
        </li>

        <li class="tournament-bracket__item">
          
          
          <div class=" tournament-bracket__match container2"  tabindex="0">
          
          
            <table class="tournament-bracket__table container2">
              
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
                
              </thead>  
              <tbody class="tournament-bracket__content">
                
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                
                  <td class="tournament-bracket__country">
                  
                    <span class="tournament-bracket__code" title="<%= tournaments.PlayerSeven %>"><%= tournaments.PlayerSeven %> </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                    
                    
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreSeven %></span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team tournament-bracket__team--winner ">
                  <td class="tournament-bracket__country">
                    
                  
                
                    <span class="tournament-bracket__code"title="<%= tournaments.PlayerEight %>"><%= tournaments.PlayerEight %> </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-kz" aria-label="Flag"></span>
                    
                    
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreEight %></span>
                    
                    
                 
                  </td>

                  
                </tr>

                
              </tbody>

              
                 
              
            </table>
            <% if (tournaments.CompleteTournament != "TRUE"&& tournaments.IsActive == "TRUE") { %> 
                  
                    <!-- ------------------------ -->
                    <!-- EDIT BUTTON HAS BEEN ADDED HERE -->
                    <!-- ------------------------ -->
                    <% if(displayName) { %>
                    <% if(userName === tournaments.UserName) { %>
                    <div style="color:white" class="text-center button"><a href="/tournaments/<%= tournaments._id %>/four/<%= tournaments.PlayerSeven %>/<%= tournaments.PlayerEight %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></div>
                    <% } %>
                    <% } %>
                  
                  <% } %>
           
          </div>
        </li>
       
       
       
       
      </ul>
    </div> 

    
    <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
      <h3 class="tournament-bracket__round-title">Semi finals</h3>
      <ul class="tournament-bracket__list">
        <li class="tournament-bracket__item">
          
          
          <div class=" tournament-bracket__match container2"  tabindex="0">
          
          
            <table class="tournament-bracket__table container2">
              
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
                
              </thead>  
              <tbody class="tournament-bracket__content">
                
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                
                  <td class="tournament-bracket__country">
                  
                    <span class="tournament-bracket__code" title="<%= tournaments.WinnerFirstQuarterFinal %> "><%= tournaments.WinnerFirstQuarterFinal %> </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                    
                    
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreNine %></span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team tournament-bracket__team--winner ">
                  <td class="tournament-bracket__country">
                    
                  
                
                    <span class="tournament-bracket__code"title="<%= tournaments.WinnerSecondQuarterFinal %> "><%= tournaments.WinnerSecondQuarterFinal %>  </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-kz" aria-label="Flag"></span>
                    
                    
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreTen %> </span>
                    
                    
                 
                  </td>

                  
                </tr>

                
              </tbody>

              
                 
              
            </table>
            <% if (tournaments.CompleteTournament != "TRUE"&& tournaments.IsActive == "TRUE") { %> 
                  
                    <% if (tournaments.WinnerFirstQuaterFinal != "WinnerFirstQuaterFinal"&& tournaments.WinnerSecondQuarterFinal != "WinnerSecondQuarterFinal") { %>
                    <!-- ------------------------ -->
                    <!-- EDIT BUTTON HAS BEEN ADDED HERE -->
                    <!-- ------------------------ -->
                    <% if(displayName) { %>
                    <% if(userName === tournaments.UserName) { %>
                    <div style="color:white" class="text-center button"><a href="/tournaments/<%= tournaments._id %>/five/<%= tournaments.WinnerFirstQuarterFinal %>/<%= tournaments.WinnerSecondQuarterFinal %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></div>
                    <% } %>
                    <% } %>
                     <% } %>
                  
                  <% } %>

                    
          </div>
        </li>

        <li class="tournament-bracket__item">
          
          
          <div class=" tournament-bracket__match container2"  tabindex="0">
          
          
            <table class="tournament-bracket__table container2">
              
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
                
              </thead>  
              <tbody class="tournament-bracket__content">
                
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                
                  <td class="tournament-bracket__country">
                  
                    <span class="tournament-bracket__code" title="<%= tournaments.WinnerThirdQuarterFinal %> "><%= tournaments.WinnerThirdQuarterFinal %> </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-label="Flag"></span>
                    
                    
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreEleven %></span>
                  </td>
                </tr>
                <tr class="tournament-bracket__team tournament-bracket__team--winner ">
                  <td class="tournament-bracket__country">
                    
                  
                
                    <span class="tournament-bracket__code"title="<%= tournaments.WinnerFourthQuarterFinal %>"><%= tournaments.WinnerFourthQuarterFinal %> </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-kz" aria-label="Flag"></span>
                    
                    
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreTwelve %> </span>
                    
                    
                 
                  </td>

                  
                </tr>

                
              </tbody>

              
                 
              
            </table>
          
           <% if (tournaments.CompleteTournament != "TRUE"&& tournaments.IsActive == "TRUE") { %> 
                 
                  <% if (tournaments.WinnerThirdQuaterFinal != "WinnerThirdQuaterFinal"&& tournaments.WinnerFourthQuarterFinal != "WinnerFourthQuarterFinal") { %>
                    <!-- ------------------------ -->
                    <!-- EDIT BUTTON HAS BEEN ADDED HERE -->
                    <!-- ------------------------ -->
                    <% if(displayName) { %>
                    <% if(userName === tournaments.UserName) { %>
                    <div style="color:white" class="text-center button"><a href="/tournaments/<%= tournaments._id %>/six/<%= tournaments.WinnerThirdQuarterFinal %>/<%= tournaments.WinnerFourthQuarterFinal %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></div>
                    <% } %>
                    <% } %>
                    <% } %>
                  
                  <% } %>         
          </div>
        </li>
      </ul>
    </div>
    
    <div class="tournament-bracket__round tournament-bracket__round--gold">
      <h3 class="tournament-bracket__round-title">Final</h3>
      <ul class="tournament-bracket__list">
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
             
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__country">
                    <span class="tournament-bracket__code" title="<%= tournaments.WinnerFirstSemiFinal %>  "><%= tournaments.WinnerFirstSemiFinal %>  </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-cz" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreThirteen %></span>
                    
                  </td>
                </tr>
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__country">
                    <span class="tournament-bracket__code" title="<%= tournaments.WinnerSecondSemiFinal %> "><%= tournaments.WinnerSecondSemiFinal %> </sp>
                    <span class="tournament-bracket__flag flag-icon flag-icon-ru" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number"><%= tournaments.ScoreFourteen %></span>
                   
                  </td>
                </tr>
              </tbody>
            </table>

            <% if (tournaments.CompleteTournament != "TRUE"&& tournaments.IsActive == "TRUE") { %> 
                  
                  <% if (tournaments.WinnerFirstSemiFinal != "WinnerFirstSemiFinal"&& tournaments.WinnerSecondSemiFinal != "WinnerSecondSemiFinal") { %>
                    <!-- ------------------------ -->
                    <!-- EDIT BUTTON HAS BEEN ADDED HERE -->
                    <!-- ------------------------ -->
                    <% if(displayName) { %>
                    <% if(userName === tournaments.UserName) { %>
                    <div style="color:white" class="text-center button"><a href="/tournaments/<%= tournaments._id %>/seven/<%= tournaments.WinnerFirstSemiFinal %>/<%= tournaments.WinnerSecondSemiFinal %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></div>
                    <% } %>
                    <% } %>
                    <% } %>
                  
                  <% } %>

          </div>
        </li>
      </ul>
    </div>


    <div class="tournament-bracket__round tournament-bracket__round--gold">
      <h3 class="tournament-bracket__round-title">Winner</h3>
      <ul class="tournament-bracket__list">
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
             
              <thead class="sr-only">
                <tr>
                  <th>Country</th>
                  <th>Score</th>
                </tr>
              </thead>  
              <tbody class="tournament-bracket__content">
                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                  <td class="tournament-bracket__country">
                    <span class="tournament-bracket__code" title="<%= tournaments.WinnerFinal %>  "><%= tournaments.WinnerFinal %>  </span>
                    <span class="tournament-bracket__flag flag-icon flag-icon-cz" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    
                    <span class="tournament-bracket__medal tournament-bracket__medal--gold fa fa-trophy" aria-label="Gold medal"></span>
                  </td>
                </tr>
                
              </tbody>
            </table>

          </div>
        </li>
      </ul>
    </div>
    
  </div>
  <br>
  <br>
<div style= "text-align:center;">
<% if (tournaments.CompleteTournament != "TRUE"&& tournaments.IsActive === "TRUE") { %>   
                
                    <!-- ------------------------ -->
                    <!-- COMPLETE A TOURNAMENT BUTTON HAS BEEN ADDED HERE -->
                    <!-- ------------------------ -->
                    <i class="fa fa-check-square-o"></i> 
                    <% if(displayName) { %>
                    <% if(userName === tournaments.UserName) { %>
                    <button type="submit"  class="btn btn-primary"><a href="/tournaments/<%= tournaments._id %>/eight/eight/<%= tournaments.WinnerFinal %> %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Complete the tournament</a></button>
                    <% } %>
                    <% } %>
                 
                 <% } %> 

                 <% if ( tournaments.IsActive === "FALSE") { %>   
                
                    <!-- ------------------------ -->
                    <!-- ACTIVATE TOURNAMENT BUTTON HAS BEEN ADDED HERE -->
                    <!-- ------------------------ -->
               
                    <i class="fa fa-check-square-o"></i> 
                    <% if(displayName) { %>
                    <% if(userName === tournaments.UserName) { %>
                    <td style="color:white" class="text-center"><a href="/tournaments/<%= tournaments._id %>/activate" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i>Activate Tournament</a></td>
                    <% } %>
                    <% } %>
                  
                 <% } %> 
</div>  
</div>

</div>

<!-- partial -->


<%- include('../partials/footer.ejs'); %>








